html,
body {
    background-color: #35495e;
    color: #eee;
}

.app {
    display: block;
   
    text-align: center; 
}


.count{
    font-size: 3rem;
    font-weight: bold;

}
button{
    background-color: #046836;
    border: none;
    padding: 1rem;
    color: #e5eeea;
    font-weight: show;
    font-size: 1rem sandybrown;
    margin: 0 0.5rem;
}
button:hover {
    cursor: pointer;
    background-color: #379c6f;
}